go 1.20

use (
	./api
	./api/me
	./api/me/bank
	./api/test
	./api/test/helloworld
	./api/test/modify
	./api/test/modify/bank
	./api/test/query
	./api/test/query/all-users
	./api/users
	./api/users/login
	./api/users/signin
	./cmd
	./configs
	./init
	./internal/pkg/cache/redis
	./internal/pkg/connect/db
	./internal/pkg/connect/redis
	./internal/pkg/jwt
	./internal/pkg/middleware/cors
	./internal/pkg/middleware/jwt
	./internal/pkg/model/bank
	./internal/pkg/model/login
	./internal/pkg/model/signin
	./internal/pkg/response
	./internal/pkg/response/code
	./pkg/session
	./pkg/session/provider/redis
	./pkg/uid
	./pkg/uid/satori
)
