go 1.20

use (
	./api
	./api/test
	./api/test/helloworld
	./api/test/query
	./api/test/query/all-users
	./api/test/query/session-content
	./api/users
	./api/users/login
	./api/users/signin
	./cmd
	./configs
	./init
	./internal/connect/db
	./internal/connect/redis
	./internal/response
	./internal/response/code
	./internal/session-provider/redis
	./internal/uid/satori
	./pkg/session
	./pkg/uid
)
