backend/bundles/*
backend/sql/data/*
backend/ssl/*

frontend/.vsconfig
frontend/*/*.meta
frontend/*/*/*.meta

frontend/*.csproj
frontend/*.sln

frontend/Library/*
frontend/Logs/*

frontend/Temp/*
frontend/UserSettings/*
frontend/obj/*
